{% extends "base.html" %}

{% block content %}

  <div class="row #000000 black profilepage">
    <div class="col s6 offset-s3">
        {% if session.user %}
          {% with messages = get_flashed_messages()  %}
            {% if messages %}
                    {% for message in messages %}
                        <h5 class="profilemessage text-shadow #212121 grey darken-4 center-align white-text z-depth-4"> <i class="fas fa-user-tie"></i>  {{ message }} </h5>
                        {% endfor %} 
            {% endif %}
          {% endwith %}
        {% endif %}
    </div>
    
    <form class="profileform col s10 offset-s1 #263238 blue-grey darken-4 white-text" method="POST" action="{{url_for('edit_preferences', id=id._id)}}">
        <div class="profilewrapping"> 
        <div class="col s10 offset-s1 l5 offset-l1">
            <div class="row">
          <h5>Userinformation</h5>
        <div class="input-field col s6">
          <input class="white-text text-shadow" value="{{ id.name }}" id="name" name="name" type="text">
          <label class="white-text text-shadow" for="name">Name: </label>
        </div>
        </div>
             <div class="row">
        <div class="input-field col s6">
        <input class="white-text text-shadow" value="{{ id.Email }}" id="Email" name="Email" type="text">
        <label  class="white-text text-shadow" for="Email">Email: </label>
        </div>
        </div>
                     <div class="row">
        <div class="input-field col s6">
          <input class="white-text text-shadow" value="{{ id.phone }}" id="phone" name="phone" type="tel">
            <label class="white-text text-shadow" for="phone">Phone#: </label>
        </div>
        </div>
        </div>
            <div class="col s10 offset-s1 l3 offset-l1">
            <table class="center-align">
              <h5> Technical analysis</h5>
        <tbody>
          <tr>
            <td>  
<div class="switch">
    <h6>RSI</h6>
    <label for="RSI">
      Off
      <input type="checkbox" id="RSI" name="RSI">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
<td>
    <div class="switch">
    <h6>MACD</h6>
    <label for="MACD">
      Off
      <input type="checkbox" id="MACD" name="MACD">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
<td>
    <div class="switch">
    <h6>Trend</h6>
    <label for="Trend">
      Off
      <input type="checkbox" id="Trend" name="Trend">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
</tr>
 <tr>
            <td>
<div class="switch">
    <h6>EMA</h6>
    <label for="EMA">
      Off
      <input type="checkbox" id="EMA" name="EMA">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
<td>
    <div class="switch">
    <h6>Bollinger</h6>
    <label for="Bollinger">
      Off
      <input type="checkbox" id="Bollinger" name="Bollinger">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
<td>
    <div class="switch">
    <h6>SMA</h6>
    <label for="SMA">
      Off
      <input type="checkbox" id="SMA" name="SMA">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
</tr>
        </tbody>
            </table>
            </div>
        <div class="col s10 offset-s2">
              <table class="notification">
<h5>Preference for notification</h5>

        <tbody>
 <tr>
            <td>  
<div class="switch">
    <h6>Email</h6>
    <label for="info_mail">
      Off
      <input type="checkbox" name="info_mail" id="info_mail">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
<td>
    <div class="switch">
    <h6>Telephone</h6>
    <label for="info_phone">
      Off
      <input type="checkbox" name="info_phone" id="info_phone">
      <span class="lever"></span>
      On
    </label>
  </div>
</td>
</tr>
        </tbody>
            </table>
                    <div class="col send_info s10 center-align">
            <button type="submit" class="btn text-shadow #212121 grey darken-4"> <i class="fas fa-cog"></i> Update Information </button>
        </div>
        </div>
        </div> 
    </form>
    </div>
{% endblock %}