{% extends "base.html" %}

{% block content %}

  <div class="row #000000 black profilepage">
    <div class="col s6 offset-s3">
    </div>
    <form class="profileform col s10 offset-s1 #263238 blue-grey darken-4 white-text" method="POST" action=""> 
          <!-- List with technical indicator choosen for building a stockportfolio -->  
          {% if not session.name %}
      <!-- Link to Login page-->
        <div class="col s8 offset-s2 ">
            <h5 class="center-align linktext"> Already a Member ??  <i class="fas fa-hand-point-right"></i> <a href="{{url_for('login')}}">  Login here  </a> <i class="fas fa-hand-point-left"></i></h5>
        </div>
          {% endif %}
      <div class="s6-offset-s3">
          <h5 class="center-align"> Dear {{session.user}}, <br> </h5>
      {% for info in stockinfo %}
         <h6 class="center-align"> "{{ info.Company_name }}" opened at {{ info.Opening_price}}$ and closed at {{info.Closing_price}}$ during {{info.Date}} </h6>
      {% endfor %}
      <br>
      <h6 class="center-align"> Our ambition is to build a platform which offers analysis based on your interest in <br> technical analysis and your preference for </h6>
      <br>         
      {% for name in name %} 
       <table>
        <div class="row">
            <div class="col s4 offset-s4 selection">
              {% if name.RSI == "on" %}
              <p class="col">RSI</p>
              {% endif %}
            {% if name.MACD == "on" %}
              <p class="col">MACD </p>
              {% endif %}
            {% if name.EMA == "on" %}
              <p class="col">EMA</p>
              {% endif %}
            {% if name.Trend== "on" %}
              <p class="col">Trend</p>
              {% endif %}
            {% if name.Bollinger== "on" %}
              <p class="col">Bollinger</p>
              {% endif %}
             {% if name.SMA == "on" %}
              <p class="col">SMA</p>
              {% endif %}
        </div>
        </div>
      </table> 
        <h6 class="center-align"> Togheter we will make it happen !!! </h6>
    <br>  
    </div>
        {% endfor %}
    </form>
    </div>
{% endblock %}   
   